* {
box-sizing: border-box;
}
body {
font-family: Arial;
color: white;
}
.column {
float: none;
margin-top: 11px;
padding: 21px;
width: 40%;
}
.container {
background-color: #4b3832;
border-radius: 14px;
padding: 19px;
}
input[type=submit] {
background-color: mediumseagreen;
border: none;
color: #FFFFFF;
cursor: pointer;
padding: 15px 25px;
}
input[type=submit]:hover {
background-color: tomato;
}
input[type=text], textarea {
border: 0.5px solid #000000;
margin-bottom: 20px;
margin-top: 10px;
padding: 16px;
resize: both;
width: 100%;
}
.row:after {
clear: both;
content: "";
display: table;
}
