body {
font-family: sans-serif;
color: #ffffff;
}

.container {
background-color: #eea236;
border-radius: 14px;
padding: 19px;
}

.row:after {
clear: both;
content: "";
display: table;
}

@media screen and (max-width: 800px) {
	.left, .center, .right {
	  width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
	}
  }
