body {
font-family: sans-serif;
color: #ffffff;
}

.container {
background-color: #eea236;
border-radius: 14px;
padding: 19px;
}

.row:after {
clear: both;
content: "";
display: table;
}
