body {
  margin: 0;
}

 
.myNav {
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/bcover.jpg');
  background-size: 100% 100%;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}
.navbar-brand.navbar-text.text-warning.h1{
  margin-left: 30px;
}

.navbar.navbar-expand-lg{
  background: rgba(158, 158, 152,.7);
}

.navbar-nav.navbar-right {
    position: absolute;
    left: 88.4%;
    transform: translatex(-50%);
}


/* background: rgba(107,107,102,.4); */


#leftContent, #rightContent {
  background: rgba(158, 158, 152, 0.6);
  padding: 30px;
  width: 300px;
  height: 200px;
  margin-top: 250px;
  display: inline-block;
  font-size: 46px;
  color: rgb(196, 72, 63);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
} 

div#leftContent:hover, div#rightContent:hover {
  background: rgba(59, 59, 57, 0.6);
  color: rgb(233, 221, 220);
}

#leftContent {
  margin-left: 25%;
  margin-right: 100px;
}

#rightContent {
  margin-right: 20%;
  margin-left: auto;
}




/*#Fullpage
#Fullpage-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  top:0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

navbar

.container {

}
/* webpage look on smaller devices and bigger devices*/
/*@@media query {

}*/

/*social pull-right
