body {
  margin: 0;
}

 
.myNav {
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/bcover.jpg');
  background-size: 100% 100%;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
  

}
.navbar-brand.navbar-text.text-warning.h1{
  margin-left: 30px;
  font-style: italic;
}

.navbar.navbar-expand-lg{
  background: rgba(0,0,0,.6);

}

.navbar-nav {
  margin-left: 1000px;
}
/*#Fullpage
#Fullpage-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  top:0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

navbar

.container {

}
/* webpage look on smaller devices and bigger devices*/
/*@@media query {

}*/

/*social pull-right
