body {
  margin: 0;
  font-family: sans-serif;
}
p {
  font-size: 17px;
}
/* .column{
  align: center;
} zakomentovane, lebo align neexistuje!*/
.myNav {
  background-image: url('../img/bcover.jpg');
  background-size: 100% 100%;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
  letter-spacing: 0.3em;
}
.navbar-brand.navbar-text.text-warning.h1{
  margin-left: 30px;
}

.navbar.navbar-expand-lg{
  background: rgba(0,0,0,.6);
}

.navbar-nav {
  margin-left: 850px;
}


/* background: rgba(107,107,102,.4); warning color */


#leftContent, #rightContent {
  background: rgba(247,167,54,.6);
  padding: 30px;
  width: 300px;
  height: 200px;
  margin-top: 250px;
  display: inline-block;
  font-size: 46px;
  letter-spacing: 0.3em;
  color: rgb(61, 61, 41);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

div#leftContent:hover, div#rightContent:hover {
  background: rgba(255, 193, 7, 0.6);
  color: rgb(0, 0, 0);
  font-style: bold;
}

#leftContent {
  margin-left: 25%;
  margin-right: 100px;
}

#rightContent {
  margin-right: 20%;
  margin-left: auto;
}

/* 
#leftContent, #rightContent {
  background: rgba(0,0,0,.6);
  padding: 30px;
  width: 300px;
  height: 200px;
  margin-top: 250px;
  display: inline-block;
  font-size: 46px;
  color: rgb(255, 193, 7);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
}

div#leftContent:hover, div#rightContent:hover {
  background: rgba(255, 193, 7, 0.6);
  color: rgb(0, 0, 0);
  font-style: bold;
  border: none;
}

#leftContent {
  margin-left: 25%;
  margin-right: 100px;
  border: none;
}

#rightContent {
  margin-right: 20%;
  margin-left: auto;
  border: none;
}
 */
.container-fluid {
    padding-left: 15%;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 17px;
    letter-spacing: 0.3em;
}
.bg-1 {
    background-color: #191919; /* black */
    color: #f0ad4e;
}

.bg-2 {
  background-color: #f0ad4e; /* orange warning */
  color: black;
}

.bg-3 {
  background-color: #e5e5e5; /* shade of White */
  color: black;
}

.bg-4 {
  background-color: #f0ad4e;
  color: black;
}

.img-responsive {
    display: block;
    width: 106%;
    height: 125%;
}

/*adding media*/
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
}
}


/*footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}

/*social pull-right
