body {
  background-image: url('../img/bcover.jpg');
  background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
  bottom: 0;
	margin: 0;
	position: relative;
	top: 0;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
  letter-spacing: 0.3em;
}

.navbar-brand.navbar-text.text-warning.h1{
  margin-left: 30px;

}

.navbar.navbar-expand-lg{
  background: rgba(0,0,0,.6);
   height: 70px;
}

.navbar-nav {
  margin-left: 990px;
}

.ahref {
  color: #c51f93;
}
.ahref:hover {
  color: yellow;
  text-decoration: none;
}
/*.nav-link {
  color: #c51f93;
  font-weight: bolder;
  font-size: 1.3rem;
}
.nav-link:hover {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 1.3rem;
}*/


.button {
  border: none;
  color: #c94da3;
  padding: 12px 16px;
  font-size: 10%;
  cursor: pointer;
}

#inputName input{
	width: 100%;
	padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
	color: rgba(0,0,0,.6);
}

#btnP {
  padding: 14px 20px;
  margin: 8px 0;
  background-color: rgb(201, 160, 200);
  color: #06134d;
  border: none;
}

#btnP:hover {
	background-color: #c51f93;
	color: #262417;
}

#inputName {
  background-color: rgba(0,0,0,.6);
  padding: 10px;
  margin-right: 35%;
  margin-left: 35%;
 	text-align: center;
  border-radius: 10px;
  color: #ffffff;
}

#container {
  width: 100%;
  height: 80%;
  text-align:center;
  margin-top: 3.5%;
}

#center {
	margin-left: auto;
	display: block;
	margin-right: auto;
}


#center {
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 1%;
  width:52%;
  background: rgba(221, 201, 201, 0.671); 
  padding-left: 1%;

}

#left {
  float:left;
  width:15%;
  margin-top: 12%;
  margin-left: 3%;
  background: rgba(221, 201, 201, 0.671);
}

#right {
  float:right;
  margin-top: 12%;
  margin-right: 3%;
  width:15%;
  background: rgba(221, 201, 201, 0.671);  
}

#center {
	margin-left: auto;
	display: inline-block;
	margin-right: auto;
}

 .boardElement{
    border:3px solid #00000000;
    border-radius: 12%;
    float: left;
    /* height: 105px;
    width: 105px; */

    width: 15%;
    height: 24%;
    margin: 5px;
}
.resultElement{
	width: 50px;
	float: left;
  margin-left: 10px;

  border-radius: 12%;
  margin-top: 5px;
}

.boardElement:hover {
    /* border:3px solid #c51f93; */
    border:3px solid #06134d;
    border-radius: 12%;
    float: left;
    /* height: 105px;
    width: 105px; */
    width: 15%;
    height: 24%;
    margin: 5px;
}

.boardElement img{
    border-radius: 12%;
}

.boardElement:hover img{
    border-radius: 12%;
}

/*style pre inputy mena hracov*/



/*<--- style pre  inputy mena hracov*/
/*style pre tabulky mena hracov --->*/

#table1N {
  width:100%;
  float: left;
}

#table2N {
  width:100%;
  float: left;
}

#table1N #mytr td:first-child{
    background-color: #c51f93;
    color: #06134d;
    column-span: all;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#table2N #mytr2 td:first-child{

    background-color: #06134d;
    color: #c51f93;
    column-span: all;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

#table1N td {
  width: 50px;
  border-radius: 12%;
  display: block;
  float: left;
}

#table1N td img {
    width: 50px;
    border-radius: 12%;
    display: inline-block;
    /* float: left; */
}
#table2N td img {
    width: 50px;
    border-radius: 12%;
    /* display: inline-block; */
    float: left;
}



#table2N td {
    width: 50px;
    border-radius: 12%;
    display: block;
    float: left;
    /* float: left; */
}

#endGame{
  position: absolute;
  left: 25%;
  background-color: rgba(0,0,0, 0.6);
  color: rgb(255, 77, 166);
  padding: 5%;
  margin-top: 8%;
}

#newGame{
  margin: auto;
  margin-right: 15%;
  margin-left: 20%;
}

#winn{
  padding-bottom: 3%;
}

#containerNames{
  margin-top: 12%;
}
/*adding media*/
@media screen and (max-width: 800px) {
  .left, .center, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

