body {
   background-image: url('../img/bcover.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   bottom: 0;
   margin: 0;
   position: relative;
   top: 0;
   height: 100vh;
   z-index: -10;
   overflow: hidden;
   letter-spacing: 0.2em;
}
/*
.navbar-brand.navbar-text.text-warning.h1{
  /* margin-left: 8%;
  }
*/

.navbar.navbar-expand-lg{
  height: 70px;
  background: rgba(0,0,0,0);
}

.navbar-nav {
   margin-left: 990px;
}
.navbar-header{
  width: 30%;
}

.ahref {
   color: rgb(255,219,73);
   background-color: rgba(0,0,0,.6);
   padding: 3%;
   margin: 1%;
   border-radius: 7%;

}

.ahref:hover {
   color: rgb(250,247,60,0.6);
   text-decoration: none;
}

#container {
   width: 100%;
   height: 80%;
   text-align:center;
}

#center {
   display: inline-block;
   margin-top: 1%;
   margin-bottom: 1%;
   width:48%;
   background: rgba(158,157,120,.3);
   border-radius: 2%;
}

#center {
   margin-left: auto;
   display: inline-block;
   margin-right: auto;
}
/*
.center {
	margin-left: auto;
	display: block;
	margin-right: auto;
} */

#time {
   float:right;
   margin-top: 12%;
   margin-right: 3%;
   width:15%;
   background: rgba(250,247,60,.6);
   visibility: hidden;
   border-radius: 12%;
}

#left {
   float:left;
   width:15%;
   margin-top: 12%;
   margin-left: 3%;
   background-color: rgb(250,247,60,.3);
}

.boardElement{
   border:3px solid #00000000;
   border-radius: 12%;
   float: left;
   height: 105px;
   width: 105px;
   margin: 5px;
}

.resultElement{
   width: 50px;
   float: left;
   margin-left: 10px;
   border-radius: 12%;
   margin-top: 5px;
}

.boardElement:hover {
   border:3px solid rgb(250,247,60);
   border-radius: 12%;
   float: left;
   height: 105px;
   width: 105px;
   margin: 5px;
}

.boardElement img{
   border-radius: 12%;
}

.boardElement:hover img{
   border-radius: 12%;
}

#inputName input{
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   box-sizing: border-box;
   color: rgba(0,0,0,.6);
}

#containerNames{
   margin-top: 12%;
}

#btnP {
   padding: 14px 20px;
   margin: 8px 0;
   background-color: rgb(255,219,73);
   color: black;
   border: none;
}

#btnP:hover {
   background-color: rgb(250,247,60,.9);
   color: #262417;
}

#inputName {
   background-color: rgba(0,0,0,.6);
   padding: 10px;
   margin-right: 35%;
   margin-left: 35%;
   text-align: center;
   border-radius: 10px;
   color: #ffffff;
}

#P1 {
   width: 100%;
}

#table1N #mytr td:first-child{
   background-color: rgb(255, 219, 73);
   column-span: all;
   width: 100%;
   text-align: center;
   font-size: 24px;
}

#table1N {
   float: left;
   width: 100%;
}

#table1N  td:first-child{
   float: left;
   /* background-color: red; */
   width: 50px;
}

#table1N td img {
   width: 50px;
   border-radius: 12%;
   display: inline-block;
   /* float: left; */
}

#table1N td {
   width: 50px;
   border-radius: 12%;
   display: block;
   float: left;
   /* float: left; */
}


#endGame{
  position: absolute;
  left: 30%;
  background-color: rgba(0,0,0, 0.6);
  color: rgb(250,247,60);
  padding: 5%;
  margin-top: 8%;
}

#newGame{
  margin: auto;
  margin-right: 15%;
  margin-left: 20%;
  background-color: rgb(250,247,60);
}

#winn{
  padding-bottom: 3%;
}

#containerNames{
  margin-top: 12%;
}

#pexGame{
  background-color: rgb(250,247,60);
}

@media screen and (max-width: 800px) {
   .left, .center, .right {
   width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
}
}
